/*===============================
** Date:     June 07, 2024
** Author:   Exenreco Bell
** Filename: style.css
===============================*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin: 0;
    
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding: 0;

    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border: 0;
}

/* Page body rules */
body {
    background-color: #f6eee4;
}

/* Page header Image tags rules */
img {
    position: relative;
    display: block;
    width: 100%;
    max-width: 100%;
}

/* Style rules for mobile viewport */


/* Style rules to show mobile class and hide tab-desk class */
@media only screen and (max-width: 620px) {

    /*  Tablet Viewport: mobile class */
    .mobile, .mobile-tablet {
        display: block;
    }

    /*  Tablet Viewport: hide tab-desk class */
    .tab-desk, .desktop {
        display: none;
        visibility: hidden;
    }

    nav ul li {
        display: block;
        border-top: 0.5px solid #f6eee4;
        width: 100%;
    }

    /* Style rules for header area */
    h1, h3 {
        padding: 2%;
        text-align: center;
    }
    h1 {
        font-family: "Emblema One", system-ui;
    }
    h3 {
        font-family: "Lora", serif;
    }
}


/* Media Query for Tablet Viewport */
@media only screen and (min-width: 620px), print {

    /*  Tablet Viewport: hide mobile class */
    .mobile, .mobile-tablet {
        display: none;
        visibility: hidden;
    }

    /*  Tablet Viewport: Show tab-desk class */
    .tab-desk, .desktop {
        display: block;
    }

    /*  Tablet Viewport: Style rules for nav area */
    nav ul li {
        display: inline-block;
        font-size: 1.25em;
    }
    nav ul li a {
        padding: 0.5em;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .grid aside {
        grid-column: 1 / span 2;
    }

    /* Tablet Viewport: Style rule for form element */
    #form {
        width: 70%;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
}


/* Media Query for Large Desktop Viewports */
@media only screen and (min-width: 1921px) {
    
    /* Viewport Body rules */
    body {
        background: linear-gradient(#f6eee4, #78593a);
    }
    #wrapper {
        width: 1920px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
    }
    main {
        background-color: #f6eee4;
    }

    .grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .grid aside {
        grid-column: 1 / span 4;
        font-size: 3em;
    }
}


/* Media Query for Print */
@media only print {
    body {
        background-color: white;
        color: black;
    }
}


/* Media Query for Desktop Viewport */
@media only screen and (min-width: 1000px), print {
    /* hide mobile class */
    .mobile {
        display: none;
        visibility: hidden;
    }

    /*  Desktop Viewport: Show desktop class */
    .desktop {

    }

    /* hide mobile-tablet class */
    .mobile-tablet {
        display: none;
        visibility: hidden;
    }

    /* Desktop Viewport: Style rules for nav area. */
    nav li {
        font-size: 1.5em;
    }
    nav ul li a {
        padding-top: 0.5em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        padding-bottom: 0.5em;
    }
    nav ul li a:hover {
        color:#2a1f14;
        background: #f6eee4;
        opacity: 0.5;
    }

    /* Desktop Viewport: Style rules for main content */
    #info ul {
        margin-left: 5%;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .grid aside {
        grid-column: 1 / span 3;
        font-size: 2em;
    }

    /* Style rules for table */
    table {
        border: 1px solid #2a1f14;
        border-collapse: collapse;
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    table caption {
        font-size: 1.5em;
        font-weight: bold;
        padding: 1%;
    }

    table th, table td {
        border: 1px solid #2a1f14;
        padding: 1%;
    }

    table th {
        background-color: #2a1f14;
        color: #fff;
        font-size: 1.15em;
    }

    table tr:nth-child(odd) {
        background-color: #deccba;
    }

    /* Desktop Viewport: Style rules for form elements */
    #form {
        width: auto;
    }

    #form form.form-grid {
        gap: 20px;
        display: grid;
        grid-template-columns: auto auto;
    }

    input.btn {
        grid-column: 1 / span 2;
    }
}



/* Style rules for navigation area */
nav {
    background-color: #2a1f14;
}

nav ul {
    text-align: center;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Geneva, Arial, sans-serif;
}

nav ul li a {
    color: #f6eee4;
    display: block;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.5em;
    text-decoration: none;
}


/* Style rules for main content */
main {
    padding: 2%;
    font-family: "Lora", serif;
}

main p {
    font-size:  1.25em;
}

main h3 {
    padding: 2%;
}

main ul {
    list-style-type:  square;
}

.link {
    color: #4d3319;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

.grid aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px #c5a687;
}

.grid figure {
    border: 4px solid #2a1f14;
    box-shadow: 6px 6px 10px #c5a687;
    max-width: 400px;
    margin: 2% auto;
}

.grid figure figcaption {
    padding: 2%;
    border-top: 4px solid #2a1f14;
}

#info ul {
    margin-left: 10%;
}

#contact, #form h2 {
    text-align: center;
}

/* Style rules for form elements */
#form fieldset, #form input, #form textarea {
    margin-bottom: 2%;
}

#form fieldset legend {
    font-size: 1.25em;
    font-weight: bold;
}

#form fieldset label {
    display: block;
    padding-top: 2%;
}

#form input#submit {
    display: block;
    padding: 2%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

/* Style rules for mobile footer */
.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.tel-link > a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

footer {
    color:  #f6eee4;
    font-size: 0.85em;
    padding-top: 1%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 1%;
    background-color: #2a1f14;
}

footer a {
    color:  #f3e6d8;
    text-decoration: none;
}